@import url(//font.elice.io/EliceDigitalBaeum.css);

* {
    text-align: center;
}

.molrujpg {
    text-align: center;
}

.text_h1 {
    font-family: 'Comfortaa'
}

.text_h2{
    font-family: "Elice Digital Baeum",sans-serif;
}

.textlink{
    font-family: 'Comfortaa';
}